.blockStyle{
    display: flex;
    flex-direction: column;
}

.title{
    margin-bottom: 20px;
}

.dark {
    background: dimgrey;
}

.dark-text {
    color: aliceblue;
}

.red {
    background: lightcoral;
}

.red-text {
    color: aqua;
}

.some {
    background: lightgreen;
}

.some-text {
    color: #3d5f8b;
}

.custom {
    background: #eeeeee;
}

.custom-text {
    color: #8b58f3;
}