.blue {
    border-bottom: 1px solid blue;
}

.column {
    height: 350px;
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testSpanError {
    color: blue;
}